@{
    ViewBag.Title = "Index";
}

<h2>Relatorio de Vendas</h2>
<div class="panel" ng-controller="vendacontroller">
    <div class="panel-heading">

        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="dataTable table table-striped table-hover table-bordered" id="allan">
                <thead>
                    <tr>
                        <th class="center">Data</th>
                        <th class="center">Valor Autor (R$)</th>
                        <th class="center">Taxa Unitunes - 10% (R$)</th>
                        <th class="center">Total Venda (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" ng-repeat="venda in vendas">
                        <td class="center">
                            {{venda.DataVenda}}
                        </td>
                        <td class="center">{{venda.ValorAutor.formataDinheiro(2,3)}}</td>
                        <td class="center">{{venda.TaxaUnitunes.formataDinheiro(2,3)}}</td>
                        <td class="center">{{venda.ValorVenda.formataDinheiro(2,3)}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer"></div>
</div> <!-- / first data table sample -->

<script src="/scripts/view/pagamento.js"></script>

