<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <membership defaultProvider="MongoDBMembershipProvider">
      <providers>
        <clear />
        <add name="MongoDBMembershipProvider" type="MongoDB.Web.Providers.MongoDBMembershipProvider" applicationName="/" connectionString="mongodb://aetadmin:64608099@177.55.99.170:27017" database="aet" collection="ASPNETUsers" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MongoDBRoleProvider">
      <providers>
        <clear />
        <add name="MongoDBRoleProvider" type="MongoDB.Web.Providers.MongoDBRoleProvider" applicationName="/" connectionString="mongodb://aetadmin:64608099@177.55.99.170:27017" database="aet" collection="ASPNETRoles" />
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" protection="All" defaultUrl="~/Default.aspx" path="/" enableCrossAppRedirects="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
 
  <location path="request/login/Auth">
    <system.web>
      <authorization>
        <!--<allow users="*"/>-->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Cadastro">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Cadastro.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="request/cadastro/EfetuaCadastro">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Restricted">
    <system.web>
      <authorization>
        <deny roles="user"/>
        <allow roles="admin"/>
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="Db_User" value="aetadmin"/>
    <add key="Db_Pass" value="64608099"/>
    <add key="Db_Server" value="177.55.99.170"/>

    <add key="RedirecionaSSL" value="False"/>
    <add key="ExceptionView" value="False"/>
    <add key="baseUrl" value="/app"/>
    <add key="RouteBaseUrl" value=""/>
    <add key="LocalMode" value="true"/>
    <add key="UseSession" value="true"/>
  </appSettings>
</configuration>